body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar li {
    list-style: none;
}
.links {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-right: 35pc;
    padding-top: 10px;
}
.nav-heading {
    font-size: 30px;
    margin-left: 15pc;
}
.login {
    margin-right: 20pc;
}
.login button {
    border: none;
    background-color: #96BB7C;
}
.btn {
    margin-left: 20px;
}
.btn:hover {
    background-color: #7daa5b;
}
.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20pc;
    margin-top: 5pc;
}
.homepage h1 {
    font-weight: bold;
}
.homepage h6 {
    color: #96BB7C;
    padding: 0 0 1.5pc 0;
}
.homepage h5 {
    padding: 1.5pc 0 1.5pc 0;
}
.quote {
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    background-color: #96BB7C;
}
.learn {
    font-size: 13px;
    border: 2px solid #96BB7C ;
    border-radius: 5px;
    padding: 7px 25px 7px 25px;
}
.home-text {
    margin-left: 8pc;
}
.home-image img {
    width: 80%;
    margin-left: 5pc;
} 
.sec2-text {
    margin-top: 5pc;
    margin-left: 18pc;
}
.sec2-text h2 {
    font-weight: bolder;
    margin: 20px 0 20px 0;
}
.sec2-text h6 {
    color: #96BB7C;
}
.cards-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    margin: 10pc 20pc 10pc 20pc;
}
.cards {
    box-shadow: 5px 5px 5px 5px rgb(231, 231, 231);
    padding: 30px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgb(227, 227, 227);
}
.cards h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.cards p {
    text-align: left;
}
.red-line {
    font-weight: bolder;
    color: red;
}
.sec3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    margin: 10pc 20pc 10pc 20pc;
}
.sec3-text h1 {
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sec3-learn a {
    color: #96BB7C;
    text-decoration: none;
}
.sec3-learn {
    margin-top: 3pc;
}
.sec3-text h3 {
    font-weight: bolder;
}
.sec4-text h2 {
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sec4-text h6 {
    color: #96BB7C;
}
.sec4-text {
    margin-top: 5pc;
    margin-left: 18pc;
}
.orange {
    color: orange;
}
.learn-btn {
    background-color: white;
    font-size: 13px;
    border: 2px solid #96BB7C;
    color: #96BB7C;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
}
